@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
   <title>SpGet - StordProcedure to Script Framework</title>
	<style>
		* { font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
		ul { margin:0; padding:0; }
		li { display:inline-block; width:120px; border-bottom:1px solid #808080; padding:7px; }
		#types td, #types th { border:1px solid #c0c0c0; }
	</style>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
	<script src="~/Scripts/spGet/spGet.js"></script>
	<script src="~/Scripts/demo.js"></script>
	<script>
		// names of stored procedures
		// if you want to hide stored procedure names...
		var sp_mem_add = "@Html.Raw(SpGet.Security.Encrypt("mem_add"))";
		var sp_mem_del = "@Html.Raw(SpGet.Security.Encrypt("mem_del"))";
		var sp_mem_set = "@Html.Raw(SpGet.Security.Encrypt("mem_set"))";
		var sp_mem_get_tbl = "@Html.Raw(SpGet.Security.Encrypt("mem_get_tbl"))";
		var sp_mem_get_phone = "@Html.Raw(SpGet.Security.Encrypt("mem_get_phone"))";

		var spGet = new SpGet();
		var demo = new Demo();

		$(function () {
			demo.init();
		});

	</script>
</head>
<body>
	<form id="__ajaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>
	<h1>spGet ASP.NET MVC Example</h1>
	<h1>Member List</h1>
	<div id="board"></div>
	<h2>Edit Data</h2>
	<p>Gianna's new phone number: <input id="edPhone" type="text" /></p>
	<h2>Updated Data</h2>
	<p>Gianna's phone number: <span id="phone"></span></p>
	<h2>Type Conversion Test</h2>
	<table id="types"></table>
</body>
</html>
